@model IEnumerable<WebApplication2.Models.Entities.TimeEntry>
@{
    ViewBag.Title = "Ellen's Home Page";
}
<link href="~/App_Start/Content/OnePageWonder.css" rel="stylesheet"/>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">Schedule</a>
                    </li>
                    <li>
                        <a href="#services">Links/Playlists</a>
                    </li>
                    <li>
                        @Html.ActionLink("Events", "Index", "Event_Ideas")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Full Width Image Header -->
    <header class="header-image bordered">
        <div class="headline">
            <div class="container">
                <h1 class="strokeme">Happy Birthday</h1>
                <h2 class="strokeme">Ellen <33333</h2>
            </div>
        </div>
    </header>

    <div align="center">
        <h2>Random Cat :3</h2>
        <img class="featurette-image img-circle img-responsive bordered" alt = "y no load" img src="http://thecatapi.com/api/images/get?format=src&type=gif">
    </div>
    <!-- Page Content -->
    <div class="container">

        <!-- First Featurette -->
        <br />
        <br />
        <div id="about">
            <br/>
            <br />
            <br/>
            <h2 class="featurette-heading" align="center">
                Schedule
                <span>(Will be filled in)</span>
            </h2>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <table class="bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <span class="day">1</span>
                            <span class="long">Monday</span>
                            <span class="short">Mon</span>
                        </th>
                        <th>
                            <span class="day">2</span>
                            <span class="long">Tuesday</span>
                            <span class="short">Tue</span>
                        </th>
                        <th>
                            <span class="day">3</span>
                            <span class="long">Wednesday</span>
                            <span class="short">We</span>
                        </th>
                        <th>
                            <span class="day">4</span>
                            <span class="long">Thursday</span>
                            <span class="short">Thur</span>
                        </th>
                        <th>
                            <span class="day">5</span>
                            <span class="long">Friday</span>
                            <span class="short">Fri</span>
                        </th>
                        <th>
                            <span class="day">6</span>
                            <span class="long">Saturday</span>
                            <span class="short">Sat</span>
                        </th>
                        <th>
                            <span class="day">7</span>
                            <span class="long">Sunday</span>
                            <span class="short">Sun</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int slot = 1; slot <= 7; slot++)
                    {                      
                       <tr>
                          <td class="hour">
                              @switch (slot)
                                     {
                                         case 1: <span class="text-info"> Pre 9 AM</span>;
                                        break;
                                         case 2: <span class="text-info"> 9 AM</span>;
                                        break;
                                         case 3: <span class="text-info"> 11 AM</span>;                               
                                        break;
                                         case 4: <span class="text-info"> 1 PM</span>;
                                        break;
                                         case 5: <span class="text-info"> 3 PM</span>;
                                        break;
                                         case 6: <span class="text-info"> 5 PM</span>;
                                        break;
                                         case 7: <span class="text-info"> Post 5 PM</span>;
                                        break;
                                     }
                                </td>            
                                @for (int day = 1; day <= 7; day++)
                                {
                                    var toUse = @Model.Where(x => x.Day == day).Where(x => x.Slot == slot).First();
                                   <td class="clickable" onclick="editEntry(@toUse.Id)">@toUse.Information</td>
                                }
                            </tr>
                        }
                  }
                </tbody>
            </table>
            <p class="lead"></p>
        </div>
        <button id="productive" class="btn glowing" onclick="productivemode()">PRODUCTIVE MODE</button>
        <div id="goellen" style="display:none">
            <div class="row">
                <img src="~/App_Start/Content/cuteslothgif.gif" alt="Gif isnt loading :(">
                <img src="~/App_Start/Content/cuteslothgif.gif" alt="Gif isnt loading :(">
                <img src="~/App_Start/Content/cuteslothgif.gif" alt="Gif isnt loading :(">
                <img src="~/App_Start/Content/cuteslothgif.gif" alt="Gif isnt loading :( (by now it should be fairly obvious)">
            </div>
            <h2>You can do it, I believe in you :DDDDDDDDD</h2>
        </div>
        <!-- Second Featurette -->
        <div class="container">
            <div id="services">
                <br/>
                <div class="row">
                    <div class="col-lg-6 bordered" align="center" id="unproductive" style="background:black">
                        <h2> Links ^-^</h2>
                        <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn-primary glowing" onclick="window.open('http://www.reddit.com')">Reddit</button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn-primary glowing" onclick="window.open('http://www.facebook.com')">FB</button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn-primary glowing" onclick="window.open('http://www.yelp.com')">Yelp</button>
                                </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn-primary glowing" style="font-size:large" onclick="window.open('http://www.poorlydrawnlines.com/?random')">Random <p>PDLines</p></button>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn-primary glowing" style="font-size:large" onclick="window.open('http://explosm.net/comics/random')">Random <p>C&H</p></button>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn-primary glowing" style="font-size:large" onclick="window.open('https://c.xkcd.com/random/comic/')">Random <p>XKCD</p></button>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div align="center">
                                <form method="get" action="https://www.wolframalpha.com/input/" target="_blank">
                                    <input type="text" name="i">
                                    <button class="glowing" type="submit">Wolfram Alpha</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div align="center">
                                <form method="get" action="https://en.wikipedia.org/w/index.php" target="_blank">
                                    <input type="text" name="search">
                                    <button class="glowing" type="submit">Wikipedia</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div align="center">
                                <form method="get" action="http://etymonline.com/index.php?allowed_in_frame=0&" target="_blank">
                                    <input type="text" name="search">
                                    <button class="glowing" type="submit">Etymology Online</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div align="center">
                                <form method="get" action="http://www.urbandictionary.com/define.php" target="_blank">
                                    <input type="text" name="term">
                                    <button class="glowing" type="submit">Urban Dictionary</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div align="center">
                                <form method="get" action="https://www.youtube.com/results?" target="_blank">
                                    <input type="text" name="search_query">
                                    <button class="glowing" type="submit">Youtube</button>
                                </form>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row" align="center">
                            <div class="col-sm-offset-2" align="center">
                                <button class="btn-primary glowing" style="font-size:large" onclick="window.open('https://www.geoguessr.com/')" align="center"> Current<p>Fun Game :o</p></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" align="center" style="display:none" id="temp">
                        HELLO
                    </div>
                    <div class="col-lg-6" align="center">
                            <h2 class="featurette-heading" align="center">
                                Playlists
                                
                                <span>Studying/Classical</span>
                                <iframe width="400" height="250" src="https://www.youtube.com/embed/videoseries?list=PLVNZaEbRVrB_nsHZdYD1sdPiNV0UB3x1Z" frameborder="0" allowfullscreen></iframe>
                               <br/>
                                <span>All Purpose Music</span>
                                <iframe width="400" height="250" src="https://www.youtube.com/embed/videoseries?list=PLVNZaEbRVrB_zf95f9H4SOL8t7zig658c" frameborder="0" allowfullscreen></iframe>
                            </h2>
                        </div>
                    </div>
            </div>
       </div>

        <!-- Third Featurette 
        <div id="contact">
            <br/>
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">
                The Third Heading
                <span>Will Seal the Deal.</span>
            </h2>
            <p class="lead"></p>
        </div>
        -->
    </div>
    <!-- /.container -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

       $('.glowing').click(function () {
            setTimeout(function () {
                reset();
             }, 2000)
       });

      function productivemode() {
          $('#unproductive').toggle();
          $('#goellen').toggle();
      }

    function reset() {
        var cname, elems = document.getElementsByTagName("input");
        for (var i = elems.length; i--;) {
                elems[i].value = "";
        }
       }

      function editEntry(id) {
          document.location.href = "/Home/Edit/" + id;
      }
    </script>
}
