@model IEnumerable<WebApplication2.Models.Entities.Event_Ideas>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        font-family: Algerian;
        color: #ffffff     
    }
    td {
        background: gray
    }
    tbody tr:first-child td {
        border-top-width: 0;
    }
</style>

<h2>Event Index</h2>
<div class="row">
    <div class="search-label col-lg-3 col-md-3 col-sm-3 col-xs-3 align-left noPadding">
        Search Events:
        <input id="search" class="input-xlg" />
    </div>
    <div class="col-lg-3 col-lg-offset-6">
        <button id="create" class="btn primaryButton" align="right">Create Entry</button>
    </div>
</div>

<div id="sortTable">
    <table class="table clickable" id="fullTable">
        <thead>
            <tr class="clickable">
                <th id="Name">Event Name</th>
                <th id="Date">Date</th>
                <th id="Address">Address</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @{
                foreach (var item in Model)
                {
                    <tr class="tr clickable" onclick="redirectToEventDetails(@item.Id)">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#create').click(function () {
            window.location.href = "/Event_Ideas/Create";
        });
        function redirectToEventDetails(id) {
            document.location.href = "/Event_Ideas/Details/" + id;
        }
         $('th').on('click', function () {
                index = $('th').index(this);
                toggleSort("fullTable", index);
         });
        $('#search').on("change textInput input", function () {
            search("fullTable", $('#search').val());
        });
    </script>
}